.side-section{
  position: sticky;
  top: 0;
  padding: 20px 15px;
}
.personal-info{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid blueviolet;
}
.info{
  font-weight: 500;
}
@media only screen and (max-width:576px) {
  .side-section{
    margin: 0 20px;
  }
 }