.main{
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.routine-container{
  margin:80px;
}
.subject-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.side-part{
  background-color: #ffffff9f;
  
}
.accordion-container{
  width: 80%;
  height: 700px;
  margin: auto;
  margin-top: 70px;
}
.accordion{
  border: 2px solid blueviolet;
}
.accordion-title{
  text-align:center;
  color: blueviolet;
  margin-bottom: 30px;
}