.subject{
  background-color: #ffffff9f;
  width: 290px;
  border: 2px solid #808080b0;
  border-radius: 10px;
}
.img-container{
  padding: 10px;
}
.subject img{
  width: 270px;
  height: 200px;
}
.activities-info{
  margin-left: 15px;
}
.add-Btn{
  width: 100%;
  height: 45px;
  border: none;
  border-radius:  0 0 8px 8px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  background-color: blueviolet;
  color: wheat;
}
.add-Btn:hover{
  background-color: #a153e9be;
  color: black;
}
@media only screen and (max-width:576px) {
 .subject{
  width: 100%;
 }
 .subject img{
  width: 100%;
 }
}